@import url('http://weloveiconfonts.com/api/?family=entypo');
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin:0;
  width:100%;
  max-width: 100%;
  height:100vh;
  background-color: #a29799;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  color: white;
  transition: background-color .5s;
  overflow-x: hidden;
}

html{
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

p{
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Karla', sans-serif;
}
/*header{
	width:100%;
	background:#1d1f20;
	height:60px;
	line-height:60px;
}*/

#socialBar{
  width: 100%;
  height: 75px;
  background-color: #434444;
  text-align: justify;
-ms-text-justify: distribute-all-lines;
text-justify: distribute-all-lines;
}



.socialIcon{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  line-height: 50px;
  font-family: Entypo;
  font-size: 24px;
  text-align: center;
  color: #555;
  border-radius: 10px;
  background: #eee;
  overflow: scroll;
  zoom: 1
  vertical-align: top;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

#menu{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.5s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.header {
  height: 100vh;
  width: 100%;
  background-image: url("banner-images/deficiency-press1_1_orig.jpg");
  background-size: cover;
  /*background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;*/
  margin: 0;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-top: 0px;
  border-top-width: 0px;
}

.banner {
  display: block;
  width: 20%;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .banner {
        width: 30%;
    }
    #socialBar{
      height: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .banner {
        width: 50%;
    }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

#mySidenav{
  width: 0;
}

.navOpen #mySidenav{
  width: 250px;
}

#everything {
  padding: 0;
  margin-right: 0px;
  transition: 0.5s
}

#everything.navOpen{
  margin-right: 250px;
  transition: 0.5s
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*#welcome{
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/Users/kedronabbott/Desktop/Bad Pony/bad-pony/static/banner-images/BadPony-800x520.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}*/
#welcome{
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('/Users/kedronabbott/Desktop/Bad Pony/bad-pony/static/banner-images/BadPony-800x520.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: static;
  width: 100%;
  margin: 0;
  height: 70vh;
}



#welcome h1{
  margin-top: 0;
}

#welcome p{
  padding-left: 2%;
}

.welcomePara{
  border-left: 1px solid #9FAC49;
  margin-left: 10%;
}


.viewTestimonial{
  background-color: #000434444;
  text-align: center;
  transform: skewY(-5deg);
  padding-top: 2%;
}

#testimonialWrapper{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner-images/badPony-cool-pic.jpg");
  z-index: -1;
  width: 100%;
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  padding-top: 5%;
}

#testimonialList{
  background-color: #0009FAC49; /*#434444;#135150;*/
  height: 3%;
  width: 100%;
  margin: 0;
  padding-top: 3%;
  overflow: auto;
  white-space: nowrap;
}

.testimonialSelect{
  margin-left: 10%;
  margin-right: 10%;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: 50%;
  border: 1px solid #FFFFFF;
  color: white;
}

.wordz{
  word-wrap: break-word;
  white-space: pre-line;
  text-align: left;
}

.testimonialHeading{
  word-wrap: break-word;
  white-space: pre-line;
  text-align: center;
}
a:link {
  color:inherit;
  text-decoration: none;
}

.quote{
  margin: 0 auto;
}

div#testimonialList span:hover {
    background-color: rgba(159, 172, 73, 0.53);
}

div#socialBar div:hover{
    background-color: #9FAC49;
}

#tourWrapper{
  text-align: center;

}

.tourSelect{
  margin: 2% 1%;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 33.333%;
  background-color:rgba(36, 35, 35, 0.7);
}

.tourImage{
  padding: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#Event1{
  background-image: linear-gradient(rgba(112, 66, 20, 0.6),
  rgba(0, 0, 0, 0.6)),url("tour-images/North-Hobart-0950.jpeg");
}

#Event2{
  background-image: linear-gradient(rgba(112, 66, 20, 0.6),
  rgba(0, 0, 0, 0.6)),url("tour-images/CityMag-The-Grace-Emily-5-850x510-550x330.jpeg");
}

#Event3{
  background-image: linear-gradient(rgba(112, 66, 20, 0.6),
  rgba(0, 0, 0, 0.6)),url("tour-images/album4686_35812_yah-yahs-bar-melbourne-bars-fitzroy-hidden-laneway-cocktail-top-best-good-002.jpeg");
}

#Event4{
  background-image: linear-gradient(rgba(112, 66, 20, 0.6),
  rgba(0, 0, 0, 0.6)),url("tour-images/beach-hotel.jpeg");
}

#Event5{
  background-image: linear-gradient(rgba(112, 66, 20, 0.6),
  rgba(0, 0, 0, 0.6)),url("tour-images/nightquarter-night-quarter-nightquarter-market-gol1.jpeg");
}

#Event6{
  background-image: linear-gradient(rgba(112, 66, 20, 0.6),
  rgba(0, 0, 0, 0.6)),url("tour-images/BlackBearLodge2_20151124_wide.jpeg");
}

#Event7{
  background-image: linear-gradient(rgba(112, 66, 20, 0.6),
  rgba(0, 0, 0, 0.6)),url("http://fodmapliving.com/wp-content/uploads/2013/01/buffalo-wings.jpg");
}

#Event8{
  background-image: linear-gradient(rgba(112, 66, 20, 0.6),
  rgba(0, 0, 0, 0.6)),url("tour-images/Moonshine Manly.jpeg");
}

#Event9{
  background-image: linear-gradient(rgba(112, 66, 20, 0.6),
  rgba(0, 0, 0, 0.6)),url("tour-images/Chippendale Hotel.jpeg");
}

.tourText{
  text-align: left;
}

.tourText h1,h2,h3,h4{
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}
.tourTickets{
  background-color: gray;
  width: 100%;
  height: 25%;
}

.buyTicket:hover {
 cursor:pointer;
}
.buyTicket {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 5%;
  border: 0px;
  color: white;
  background-color: transparent;

}

.freeEntry{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 5%;
  border: 0px;
  color: white;
  background-color: transparent;
}
.buyTicket:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #9FAC49;/*#cb40b7;*/
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.buyTicket:hover:before, .buyTicket:focus:before, .buyTicket:active:before {
  right: 0;
}
